{{#each this}}
<li class="menu__item">

    {{!-- galley  card image --}}
    <div class="card">
        <img
        src="{{image}}"
        alt="{{name}}"
        class="card__image
        />"
    {{!-- gallery card content --}}
        <div class="card__content">
            <h2 class="card__name">{{name}}</h2>
            <p class="card__price">
                <i class="material-icons">
                    monetization_on
                </i>
                {{price}}
            </p>
        </div>
    </div>
</li>
{{/each}}